.bar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#footer {
	justify-content: center;
}

.bar h3 {
	flex-grow: 1;
}

.bar li {
	margin: 0.5rem;
}

.content, .bar {
	padding: 1rem;
	margin: 1rem;
}